header {
	margin-left: 50vh;
	margin-right: 50vh;
	text-align: center;
}

.mainGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	padding-bottom: 1.5rem;
	grid-auto-flow: dense;
}
.gridContent {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}
.mainGrid img {
	display: block;
	border: 0.5rem solid greenyellow;
	margin: 1rem;
	max-height: 100%;
	width: 30vh;
	position: relative;
}

.mainGrid img:hover {
	/* width: 31vh; */
	border: 0.5rem solid rgb(5, 64, 239);
}
.mainGrid img:active {
	width: 36vh;
}

.secondaryGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	justify-content: center;
	align-items: center;
	align-items: center;
}

button {
	box-shadow: 1px 3px 0px black;
	height: 3rem;
}
button:hover {
	box-shadow: 0px 5px 3px black;
}
